# Dummy Variable

In [2]:
import pandas

In [3]:
thd=pandas.read_csv("Transformed_Housing_Data.csv")

In [4]:
thd=thd.rename(columns={"Condition of the House":"Condition_of_the_House"})

In [5]:
thd.head()

,ID,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,Condition_of_the_House,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated,Years Since Renovation
0,7129300520,221900,3,1.00,1180,5650,1.0,No,0,Fair,...,1180,0,63,98178,47.5112,-122.257,1340,5650,No,0
1,6414100192,538000,3,2.25,2570,7242,2.0,No,0,Fair,...,2170,400,67,98125,47.7210,-122.319,1690,7639,Yes,26
2,5631500400,180000,2,1.00,770,10000,1.0,No,0,Fair,...,770,0,85,98028,47.7379,-122.233,2720,8062,No,0
3,2487200875,604000,4,3.00,1960,5000,1.0,No,0,Excellent,...,1050,910,53,98136,47.5208,-122.393,1360,5000,No,0
4,1954400510,510000,3,2.00,1680,8080,1.0,No,0,Fair,...,1680,0,31,98074,47.6168,-122.045,1800,7503,No,0

In [6]:
thd=pandas.get_dummies(thd,columns=["Condition_of_the_House"],drop_first=True)

In [7]:
thd.head()

,ID,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,Overall Grade,...,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated,Years Since Renovation,Condition_of_the_House_Excellent,Condition_of_the_House_Fair,Condition_of_the_House_Good,Condition_of_the_House_Okay
0,7129300520,221900,3,1.00,1180,5650,1.0,No,0,7,...,47.5112,-122.257,1340,5650,No,0,0,1,0,0
1,6414100192,538000,3,2.25,2570,7242,2.0,No,0,7,...,47.7210,-122.319,1690,7639,Yes,26,0,1,0,0
2,5631500400,180000,2,1.00,770,10000,1.0,No,0,6,...,47.7379,-122.233,2720,8062,No,0,0,1,0,0
3,2487200875,604000,4,3.00,1960,5000,1.0,No,0,7,...,47.5208,-122.393,1360,5000,No,0,1,0,0,0
4,1954400510,510000,3,2.00,1680,8080,1.0,No,0,8,...,47.6168,-122.045,1800,7503,No,0,0,1,0,0

In [8]:
thd=pandas.get_dummies(thd,columns=["Ever Renovated","Waterfront View"])

In [9]:
thd.head()

,ID,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),...,Lot Area after Renovation (in Sqft),Years Since Renovation,Condition_of_the_House_Excellent,Condition_of_the_House_Fair,Condition_of_the_House_Good,Condition_of_the_House_Okay,Ever Renovated_No,Ever Renovated_Yes,Waterfront View_No,Waterfront View_Yes
0,7129300520,221900,3,1.00,1180,5650,1.0,0,7,1180,...,5650,0,0,1,0,0,1,0,1,0
1,6414100192,538000,3,2.25,2570,7242,2.0,0,7,2170,...,7639,26,0,1,0,0,0,1,1,0
2,5631500400,180000,2,1.00,770,10000,1.0,0,6,770,...,8062,0,0,1,0,0,1,0,1,0
3,2487200875,604000,4,3.00,1960,5000,1.0,0,7,1050,...,5000,0,1,0,0,0,1,0,1,0
4,1954400510,510000,3,2.00,1680,8080,1.0,0,8,1680,...,7503,0,0,1,0,0,1,0,1,0

# Binning

In [10]:
zip_Table=thd.groupby("Zipcode").agg({"Sale_Price":"mean"}).sort_values("Sale_Price",ascending=True)
zip_Table

           Sale_Price
Zipcode
98002    2.342840e+05
98168    2.403284e+05
98032    2.512962e+05
98001    2.808047e+05
98148    2.849086e+05
98023    2.864866e+05
98188    2.890783e+05
98003    2.941113e+05
98030    2.961880e+05
98031    3.005399e+05
98198    3.017508e+05
98055    3.042621e+05
98178    3.084356e+05
98042    3.116321e+05
98022    3.157093e+05
98106    3.195814e+05
98092    3.349211e+05
98058    3.527820e+05
98108    3.556785e+05
98146    3.570236e+05
98038    3.664163e+05
98133    3.869974e+05
98155    4.098747e+05
98118    4.108260e+05
98056    4.124933e+05
98010    4.236660e+05
98126    4.247346e+05
98019    4.248151e+05
98045    4.341641e+05
98014    4.435101e+05
...               ...
98144    5.508284e+05
98072    5.654091e+05
98107    5.666222e+05
98117    5.742774e+05
98103    5.802216e+05
98008    5.942599e+05
98027    5.960160e+05
98029    6.026633e+05
98116    6.048247e+05
98115    6.093084e+05
98122    6.114318e+05
98007    6.144051e+05
98177    6.189676e+05
98052    6.401316e+05
98053    6.607927e+05
98074    6.665882e+05
98077    6.691272e+05
98033    7.289500e+05
98199    7.336431e+05
98075    7.622881e+05
98105    7.626539e+05
98102    7.659276e+05
98119    7.682302e+05
98006    7.768254e+05
98005    7.809040e+05
98109    7.876028e+05
98112    8.807990e+05
98040    9.621087e+05
98004    9.869679e+05
98039    1.102126e+06

[70 rows x 1 columns]

In [11]:
zip_Table["Zipcode_Group"]=pandas.cut(zip_Table["Sale_Price"],bins=10,labels=["zip_group_1","zip_group_2","zip_group_3","zip_group_4","zip_group_5","zip_group_6","zip_group_7","zip_group_8","zip_group_9","zip_group_10"],include_lowest=True)

In [12]:
zip_Table=zip_Table.drop(columns="Sale_Price")

In [13]:
thd=pandas.merge(thd,zip_Table,left_on="Zipcode",how="left",right_index=True)
thd=thd.drop(columns="Zipcode")
thd

,ID,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),...,Years Since Renovation,Condition_of_the_House_Excellent,Condition_of_the_House_Fair,Condition_of_the_House_Good,Condition_of_the_House_Okay,Ever Renovated_No,Ever Renovated_Yes,Waterfront View_No,Waterfront View_Yes,Zipcode_Group
0,7129300520,221900,3,1.00,1180,5650,1.0,0,7,1180,...,0,0,1,0,0,1,0,1,0,zip_group_1
1,6414100192,538000,3,2.25,2570,7242,2.0,0,7,2170,...,26,0,1,0,0,0,1,1,0,zip_group_3
2,5631500400,180000,2,1.00,770,10000,1.0,0,6,770,...,0,0,1,0,0,1,0,1,0,zip_group_3
3,2487200875,604000,4,3.00,1960,5000,1.0,0,7,1050,...,0,1,0,0,0,1,0,1,0,zip_group_4
4,1954400510,510000,3,2.00,1680,8080,1.0,0,8,1680,...,0,0,1,0,0,1,0,1,0,zip_group_5
5,7237550310,1129575,4,4.50,5420,101930,1.0,0,10,3890,...,0,0,1,0,0,1,0,1,0,zip_group_5
6,1321400060,257500,3,2.25,1715,6819,2.0,0,7,1715,...,0,0,1,0,0,1,0,1,0,zip_group_1
7,2008000270,291850,3,1.50,1060,9711,1.0,0,7,1060,...,0,0,1,0,0,1,0,1,0,zip_group_1
8,2414600126,229500,3,1.00,1780,7470,1.0,0,7,1050,...,0,0,1,0,0,1,0,1,0,zip_group_2
9,3793500160,323000,3,2.50,1890,6560,2.0,0,7,1890,...,0,0,1,0,0,1,0,1,0,zip_group_2
10,1736800520,662500,3,2.50,3560,9796,1.0,0,8,1860,...,0,0,1,0,0,1,0,1,0,zip_group_5
11,9212900260,468000,2,1.00,1160,6000,1.0,0,7,860,...,0,0,0,1,0,1,0,1,0,zip_group_5
12,114101516,310000,3,1.00,1430,19901,1.5,0,7,1430,...,0,0,0,1,0,1,0,1,0,zip_group_3
13,6054650070,400000,3,1.75,1370,9680,1.0,0,7,1370,...,0,0,0,1,0,1,0,1,0,zip_group_5
14,1175000570,530000,5,2.00,1810,4850,1.5,0,7,1810,...,0,0,1,0,0,1,0,1,0,zip_group_4
15,9297300055,650000,4,3.00,2950,5000,2.0,3,9,1980,...,0,0,1,0,0,1,0,1,0,zip_group_3
16,1875500060,395000,3,2.00,1890,14040,2.0,0,7,1890,...,0,0,1,0,0,1,0,1,0,zip_group_3
17,6865200140,485000,4,1.00,1600,4300,1.5,0,7,1600,...,0,0,0,1,0,1,0,1,0,zip_group_4
18,16000397,189000,2,1.00,1200,9850,1.0,0,7,1200,...,0,0,0,1,0,1,0,1,0,zip_group_1
19,7983200060,230000,3,1.00,1250,9774,1.0,0,7,1250,...,0,0,0,1,0,1,0,1,0,zip_group_1
20,6300500875,385000,4,1.75,1620,4980,1.0,0,7,860,...,0,0,0,1,0,1,0,1,0,zip_group_2
21,2524049179,1129575,3,2.75,3050,44867,1.0,4,9,2330,...,0,0,1,0,0,1,0,1,0,zip_group_9
22,7137970340,285000,5,2.50,2270,6300,2.0,0,8,2270,...,0,0,1,0,0,1,0,1,0,zip_group_2
23,8091400200,252700,2,1.50,1070,9643,1.0,0,7,1070,...,0,0,1,0,0,1,0,1,0,zip_group_1
24,3814700200,329000,3,2.25,2450,6500,2.0,0,8,2450,...,0,0,0,1,0,1,0,1,0,zip_group_1
25,1202000200,233000,3,2.00,1710,4697,1.5,0,6,1710,...,0,1,0,0,0,1,0,1,0,zip_group_1
26,1794500383,937000,3,1.75,2450,2691,2.0,0,8,1750,...,0,0,1,0,0,1,0,1,0,zip_group_7
27,3303700376,667000,3,1.00,1400,1581,1.5,0,8,1400,...,0,1,0,0,0,1,0,1,0,zip_group_8
28,5101402488,438000,3,1.75,1520,6380,1.0,0,7,790,...,0,0,1,0,0,1,0,1,0,zip_group_5
29,1873100390,719000,4,2.50,2570,7173,2.0,0,8,2570,...,0,0,1,0,0,1,0,1,0,zip_group_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21579,2025049203,399950,2,1.00,710,1157,2.0,0,7,710,...,0,0,0,1,0,1,0,1,0,zip_group_7
21580,952006823,380000,3,2.50,1260,900,2.0,0,7,940,...,0,0,1,0,0,1,0,1,0,zip_group_5
21581,3832050760,270000,3,2.50,1870,5000,2.0,0,7,1870,...,0,0,1,0,0,1,0,1,0,zip_group_1
21582,2767604724,505000,2,2.50,1430,1201,3.0,0,8,1430,...,0,0,1,0,0,1,0,1,0,zip_group_4
21583,6632300207,385000,3,2.50,1520,1488,3.0,0,8,1520,...,0,0,1,0,0,1,0,1,0,zip_group_3
21584,2767600688,414500,2,1.50,1210,1278,2.0,0,8,1020,...,0,0,1,0,0,1,0,1,0,zip_group_4
21585,7570050450,347500,3,2.50,2540,4760,2.0,0,8,2540,...,0,0,1,0,0,1,0,1,0,zip_group_2
21586,7430200100,1129575,4,3.50,4910,9444,1.5,0,10,3110,...,0,0,1,0,0,1,0,1,0,zip_group_5
21587,4140940150,572000,4,2.75,2770,3852,2.0,0,8,2770,...,0,0,1,0,0,1,0,1,0,zip_group_1
21588,1931300412,475000,3,2.25,1190,1200,3.0,0,8,1190,...,0,0,1,0,0,1,0,1,0,zip_group_4
21589,8672200110,1090000,5,3.75,4170,8142,2.0,2,10,4170,...,0,0,1,0,0,1,0,1,0,zip_group_3
21590,5087900040,350000,4,2.75,2500,5995,2.0,0,8,2500,...,0,0,1,0,0,1,0,1,0,zip_group_1
21591,1972201967,520000,2,2.25,1530,981,3.0,0,8,1480,...,0,0,1,0,0,1,0,1,0,zip_group_4
21592,7502800100,679950,5,2.75,3600,9437,2.0,0,9,3600,...,0,0,1,0,0,1,0,1,0,zip_group_3
21593,191100405,1129575,4,3.25,3410,10125,2.0,0,10,3410,...,0,0,1,0,0,1,0,1,0,zip_group_9
21594,8956200760,541800,4,2.50,3118,7866,2.0,2,9,3118,...,0,0,1,0,0,1,0,1,0,zip_group_1
21595,7202300110,810000,4,3.00,3990,7838,2.0,0,9,3990,...,0,0,1,0,0,1,0,1,0,zip_group_5
21596,249000205,1129575,5,3.75,4470,8088,2.0,0,10,4470,...,0,0,1,0,0,1,0,1,0,zip_group_9
21597,5100403806,467000,3,2.50,1425,1179,3.0,0,8,1425,...,0,0,1,0,0,1,0,1,0,zip_group_3
21598,844000965,224000,3,1.75,1500,11968,1.0,0,6,1500,...,0,0,1,0,0,1,0,1,0,zip_group_3
21599,7852140040,507250,3,2.50,2270,5536,2.0,0,8,2270,...,0,0,1,0,0,1,0,1,0,zip_group_4
21600,9834201367,429000,3,2.00,1490,1126,3.0,0,8,1490,...,0,0,1,0,0,1,0,1,0,zip_group_4
21601,3448900210,610685,4,2.50,2520,6023,2.0,0,9,2520,...,0,0,1,0,0,1,0,1,0,zip_group_3
21602,7936000429,1010000,4,3.50,3510,7200,2.0,0,9,2600,...,0,0,1,0,0,1,0,1,0,zip_group_4
21603,2997800021,475000,3,2.50,1310,1294,2.0,0,8,1180,...,0,0,1,0,0,1,0,1,0,zip_group_5
21604,263000018,360000,3,2.50,1530,1131,3.0,0,8,1530,...,0,0,1,0,0,1,0,1,0,zip_group_4
21605,6600060120,400000,4,2.50,2310,5813,2.0,0,8,2310,...,0,0,1,0,0,1,0,1,0,zip_group_2
21606,1523300141,402101,2,0.75,1020,1350,2.0,0,7,1020,...,0,0,1,0,0,1,0,1,0,zip_group_4
21607,291310100,400000,3,2.50,1600,2388,2.0,0,8,1600,...,0,0,1,0,0,1,0,1,0,zip_group_5
21608,1523300157,325000,2,0.75,1020,1076,2.0,0,7,1020,...,0,0,1,0,0,1,0,1,0,zip_group_4